html {
    font-family: Helvetica, sans-serif;
    margin: 60px;
}

ul li {
    list-style-type: none;
    display: inline-block;
}
 
nav {
    display: inline-block
}

a {
    margin: 20px;
    text-decoration: none;
    color: green;
    display: inline-block;

}

header h1 {
    margin-right: 120px;
    display: inline-block;
}

header {
    border-bottom: 2px solid black;
}

.main-header {
    font-family: Times New Roman, sans-serif;
    font-weight: 300;
}