@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100;400;900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
body {
      font-family: 'Poppins', sans-serif;
}

p {
      font-family: 'Open Sans', sans-serif;
}

.header nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.header nav ul {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      display: flex;
      gap: 50px;
      justify-content: space-between;
      align-items: center;
}

#hero {
      height: calc(100vh - 56px);
      background-image: url(../images/header-bg.png);
      background-size: cover;
      background-repeat: no-repeat;
}

#hero img {
      position: absolute;
      top: 13%;
      left: 25%;
}

#hero .weCare {
      position: absolute;
      top: 13%;
      left: 23%;
}

#hero .weCare {
      position: absolute;
      top: 33%;
      left: 14%;
      width: 283px;
      color: #fff;
}

#hero .weCare h1 {
      font-size: 60px;
      font-weight: 100;
}

#hero .weCare h1 span {
      font-weight: 900;
      font-size: 50px;
}

#hero .weCare p {
      margin-bottom: 30px;
}

.btn {
      border: none;
      border-radius: 16px;
      padding: 8px 32px;
      color: #ff3200;
      font-weight: bold;
      cursor: pointer;
}

/* Section Services */

#services {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

#services .heading {
      margin: 100px;
      width: 450px;
      text-align: center;
}

#services .heading p {
      font-size: 12px;
      color: #969698;
}
#services .heading h2 {
      font-weight: bold;
      font-size: 32px;
}
#services .articles_wrapper {
      text-align: center;
      display: flex;
      gap: 20px;
      justify-content: center;
      height: 400px;
}

.articles_wrapper article {
      border: 1px solid #ffc1bd;
      width: 300px;
      text-align: center;
      height: 90%;
      position: relative;
      padding-top: 50px;
}

.article {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
}

.article img:nth-child(1) {
      width: 150px;
}

.article img:nth-child(2) {
      position: absolute;
      top: 80px;
}

.article .article__content h3 {
      margin-bottom: 20px;
}

.article .article__content p {
      color: #969698;
}

/* Section Cat */

#cat {
      padding: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
}

#cat .cat__content {
      width: 30%;
}

#cat .cat__content p {
      font-size: 14px;
      color: #969698;
      margin-bottom: 30px;
}

#cat .cat__content h2 {
      font-weight: 100;
      font-size: 40px;
      margin-bottom: 30px;
}

#cat .cat__content h2 span {
      font-weight: 900;
      font-size: 40px;
}

#cat .cat__content .btn {
      background-color: #ed5718;
      color: #fff;
      font-weight: 100;
}

/* Section Antipad */

#antipad {
      height: 400px;
      position: relative;
      background-image: url('../images/cats-bg.png');
      background-size: 100% 400px;
      background-repeat: no-repeat;
      background-position: center center;
}

#antipad img {
}

.antipad__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 30%;
      color: #fff;
}

.antipad__content h2 {
      margin-bottom: 20px;
}

.antipad__content p {
      line-height: 1.5;
      margin-bottom: 20px;
}

.antipad__contact {
      display: flex;
      justify-content: center;
      align-items: baseline;
      gap: 12px;
}

.antipad__contact p span {
      font-weight: bold;
}


/* Footer */

footer {
    display: flex;
    padding: 50px 100px;
    justify-content: space-around;
}


footer div  {
    text-align: left;
}

footer div ul {
    padding-left: 0;
    color: #969698;
}

footer div ul li {
    margin: 10px;
    font-size: 12px;
}

.antipad img {

    margin-bottom: 20px;
    color: #969698;
}

.antipad p {
    font-size: 12px;
    color: #969698;
}