body {
      padding: 5px 15px;
      background-color: #e4e978;
      width: 700px;
}

section article {
      font-style: italic;
    color:  #4c7658;

}

article {
      background-color: #f2f4c0;
      padding: 5px 15px;
      border: 1px solid #b2ad7d;
      margin: 15px 10px;
      
}

section  article p:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
}