html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
}

.card {
    position: absolute;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 3px;
    width: 400px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1.7px 17.2px rgba(0, 0, 0, 0.022),
          0px 4.3px 43.4px rgba(0, 0, 0, 0.031),
          0px 8.9px 88.6px rgba(0, 0, 0, 0.039),
          0px 18.3px 182.5px rgba(0, 0, 0, 0.048),
          0px 50px 500px rgba(0, 0, 0, 0.07); 
}

.card img {
  position: absolute;
  width: 100%;
}


div.contain {
  position: absolute;
  top: 50%;
  padding: 20px;
}

div.contain a {
  position: absolute;
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  padding: 8px 14px;
  border-radius: 3px;
  right: 30px;
  bottom: -69px;
  background-color:rgb(0, 153, 0) ;
}

h3 {
  font-family: Georgia, serif;
  font-size: 1em;
}