@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}


section {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    gap:50px;
}

.info {
    width: 50%;
    background-color: #E3F3FD;
    border-radius: 8px;
    padding: 30px 40px;
    color: #3E4C5D
}

.info .info__hints {
    padding-left: 0px;
}



.info__hints li{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.info__hints i{
    margin-right: 12px;
    color: #44A9F8

}


.subscription {
    width: 50%;
    border-radius: 8px;
    border: 6px solid #44A9F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    color:#656565
}

.subscription__price span {
    font-size: 40px;
    font-weight: bold;
    color:#44A9F8;
}

.subscription__price {
    margin-bottom: 22px;
}

.learning {
    margin-bottom: 20px;
}

.btn {
    all:unset;
    background-color: #44A9F8;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 38px
}