.need__title {
    /* position: absolute;
    left: 100px; */
}
.need__text {
    /* position: absolute;
    left: 100px;
    top: 50px; */
}
.need__img {
    /* position: absolute;
    right: 100px;
    max-width: 10%; */
}

