*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
    margin: 20px;
    height: 90%;

}


body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    /* justify-content: center; */
    background-color: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
}

header {
    border-bottom: 2px solid black;
}

footer {
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
}

