@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('./reset.css');

section#hero {
      height: 100vh;
      background-image: url('../image/image.jpg');
      background-repeat: none;
      background-size: cover;
      background-position: center center;
      position: relative;
}

.transperant {
      width: 250px;
      height: 150px;
      box-shadow: 0 0 10px 1px rgb(58, 58, 58);
      position: absolute;
      left: 40px;
      top: 30px;
}

.intDesign {
      /* width: 100%; */
      padding: 28px 20px;
}

.divider {
      width: 100px;
      height: 2px;
      background-color: #fff;
      margin-bottom: 6px;
      margin-top: 6px;
}

.intDesign h1 {
      font-family: 'Abril Fatface', cursive;
}

.right {
      box-shadow: 0 0 10px 1px rgb(58, 58, 58);
      width: 250px;
      height: 200px;
      position: absolute;
      right: 26px;
      top: 180px;
}

.right__content {
      height: 100%;
      background-image: linear-gradient(
            to right,
            #9f968e,
            #aba39c,
            #b7b1ab,
            #c3beba,
            #cfccc9
      );
      padding: 20px 5px;
      text-align: right;
}

.right__content p {
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      color: #fff;
      padding: 6px;
}

.right .right__content span i {
      padding-right: 6px;
      color: #6d6966;
}

section#services {
      display: flex;
}

.services {
      width: 100%;
      margin: 40px 20px 30px 20px;
}

h2 {
      padding-left: 40px;
      font-size: 36px;
      font-family: 'Abril Fatface', cursive;
      text-transform: uppercase;
      /* margin-bottom: 28px; */
}

.services__ul {
      width: 100%;
      padding: 10px 40px;
}

.services__list {
      margin-bottom: 28px;
}

.services__list i {
      margin-right: 8px;
}
.services__list p {
      display: inline;
      font-family: 'Roboto', sans-serif;
}

.services__list span {
      text-transform: uppercase;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
}

.company {
      background-color: #bab1ad;
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 40px;
}

.company div {
      margin-left: 20px;
      text-transform: uppercase;
}

.company div .company__heading {
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: 80px;
      color: #fff;
      padding-bottom: unset;
      margin-bottom: unset;
}

.company .company__desc {
    font-family: 'Roboto', sans-serif;
    margin-top: -29px;
}

.contact {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.contact__divider {
      width: 102%;
      height: 2px;
      background-color: black;
}
.contact__contacts {
      display: flex;
      flex-wrap: wrap;
      width: 700px;
}
.contact__list {
      display: flex;
      margin: 4px;
}

.contact__list span {
      font-style: italic;
      font-weight: bold;
}

.email {
      padding: 10px 40px;
}

.email input {
      width: 300px;
      height: 40px;
      border-radius: 4px;
      background-color: #bab1ad;
      color: #fff;
      padding-left: 10px;
}

.email button {
      color: #fff;
      padding: 8px 12px;
      border: none;
      background-color: #67784d;
      border-radius: 4px;
      font-family: 'Roboto', sans-serif;
}
