body {
    margin: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0,0,0);
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 20px;
}

header nav ul li a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}